.main{
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}
.header{
  width: 1000px;
  height: 200px;
  margin:0 auto;
  margin-bottom:  10px;
  border-radius: 5px;
  background: url(../image/logo2.png) no-repeat;
}
.menu{
  width: 1000px;
  height: 35px;
  background: #3F9FFF;
  margin:0 auto;
  margin-bottom: 0px;
  border-radius: 2px;
}
.artikel{
  margin: 0 auto;
  width: 1000px;
  background: url(../image/kil.png);
  border-radius: 2px;
}
.art-left{
  width: 700px;
  margin-top: 5px;
  padding: 1px solid #000000;
  float: left;
  border-radius: 5px;
}
.padding{
  padding: 27px 0px 0px 27px;
}

.art-right{
  width: 280px;
  margin-left: 5px;
  margin-top: 5px;
  float: right;
  border-radius: 5px;
  border: groove #000033;
}
.ratakanan{
  padding: 27px 0px 0px 27px;
}
.ratahin{
  padding: 0px 27px 0px 5px;
}

.footer{
  width: 1000px;
  height: 40px;
  background: url(../image/footer..png);
  margin: 0 auto;
  margin-top: 0px;
}

